.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.categoriesList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.cardCategories{
  background-color: #c4d0fc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  margin: 10px;
  transition: transform 0.3s;
  display: flex; /* usa flexbox para alinear los elementos */
  flex-direction: column; /* usa una columna en lugar de una fila */
}

.addCategory{
  background: darkblue;
  color: #ffffff ;
  padding: 10px 19px;
  font-size: 16px;
  border-radius: 5px 5px 5px 5px;
}
.category{
  padding: 10px 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.addProduct{
  background: darkblue;
  color: #ffffff ;
  padding: 9px 10px;
  font-size: 16px;
  border-radius: 5px 5px 5px 5px;
}

.product{
  padding: 9px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  margin-bottom: 10px;
}

.priceProduct{
  padding: 9px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  margin-bottom: 7px;
}

.productsList{
  text-align: left;
  list-style: none;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 10px 20px;
}

.product-card{
  background: #cdd5f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  margin: 10px;
}




